.MenuArtistaQuadro {
    .artista>span {
        display: flex;
        justify-content: space-around;
        background: #3e007b;
        background: linear-gradient(90deg, rgba(62, 0, 123, 1) 0%, rgba(75, 0, 150, 1) 17%, rgba(124, 5, 242, 1) 38%, rgba(124, 5, 242, 1) 58%, rgba(89, 24, 231, 1) 83%);
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
        margin: 0px 20px;
    }

    .artista h1 {
        font-size: 30px;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagemArtista {
        margin: 10px;
        width: 259px;
        height: 246px;
        border-radius: 20px;
        object-fit: cover;
    }

    span>div {
        display: flex;
        justify-content: center;
        width: 200px;
        text-wrap: nowrap;
        text-align: center;
        font-size: 30px;
    }

    .artista>span:hover {
        background: #fff;
        color: #3e007b;
        transition: 0.5s;
    }

    @media (max-width: 1000px) {
        .artista h1 {
            font-size: 25px;
        }

        .imagemArtista {
            width: 200px;
            height: 190px;
        }

        span>div {
            font-size: 25px;
            width: 150px;
        }

        .artista>span {
            margin: 0px 10px;
        }
    }

    @media (max-width: 768px) {
        .artista h1 {
            font-size: 20px;
        }

        .imagemArtista {
            width: 180px;
            height: 170px;
        }

        span>div {
            font-size: 20px;
            width: 120px;
        }

        .artista>span {
            margin: 0px 5px;
        }
    }

    @media (max-width: 480px) {
        .artista h1 {
            font-size: 18px;
        }

        .imagemArtista {
            width: 150px;
            height: 140px;
        }

        span>div {
            font-size: 18px;
            width: 100px;
        }

        .artista>span {
            flex-direction: column;
            padding: 10px;
            margin: 0px 0px;
        }
    }
}
