.QuadroBuscarArtistas {
    .artista>span {
        display: flex;
        justify-content: space-around;
        background: #3e007b;
        background: linear-gradient(90deg, rgba(62, 0, 123, 1) 0%, rgba(75, 0, 150, 1) 17%, rgba(124, 5, 242, 1) 38%, rgba(124, 5, 242, 1) 58%, rgba(89, 24, 231, 1) 83%);
        color: #fff;
        border-radius: 20px;
        margin: 0px 20px;
    }

    .artista h1{
        font-size: 30px;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagemArtista {
        margin: 10px;
        width: 259px;
        height: 246px;
        border-radius: 20px;
        object-fit: cover;
    }

    span>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        text-wrap: nowrap;
        text-align: center;
        font-size: 30px;
        align-items: center;
        
    }

   
}