.LinhaShowsPrincipais {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    p {
        display: flex;
        width: 200px;
        text-wrap: nowrap;
        justify-content: space-evenly;
    }

    .img-artista {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }

    .show-data {
        width: 56px;
        height: 58px;
        background: #1E1D1D;
        text-wrap: wrap;
    }

    .linha-show {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .linha-show>div {
        display: flex;
        width: 200px;
        justify-content: center;
    }
}