.LinhaShowsPrincipais {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    p {
        display: flex;
        width: 200px;
        text-wrap: nowrap;
        justify-content: space-evenly;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .nome-artista {
        color: #fff;
    }

    .img-artista {
        height: 150px;
        width: 150px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .show-data {
        display: flex;
        align-items: center;
        width: 56px;
        height: 58px;
        background: #1E1D1D;
        text-wrap: wrap;
        font-size: 15px;
    }

    .linha-show {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .linha-show>div {
        display: flex;
        width: 200px;
        justify-content: center;
    }
}