.Home {
    background-color: #000;
    color: #fff;
    width: 100%;
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    .Content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .secao1>div {

        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/rodolfo7.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 80%;
        max-width: 1200px;
        height: 220px;

        border-radius: 10px;
        padding-left: 50px;
        justify-content: center;
        font-size: 50px;

    }

    .secao1 {
        display: flex;
        justify-content: center;
    }

    .lancamentos {
        display: flex;
        flex-direction: column;
        line-height: 70px;
        width: 100%;
        margin-bottom: 30px;
    }

    .lancamentos>div {
        gap: 20px;
    }

    .imagemlancamento {
        border-radius: 8px;
        width: 210px;
        height: 200px;

    }

    .Content-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .secao2 {
        display: flex;
        justify-content: center;
    }

    .secao2>div {
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/nickishow.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        width: 888px;
        max-width: 1200px;
        height: 440px;

        border-radius: 10px;
        padding-left: 50px;
        justify-content: center;
        font-size: 50px;
    }

    .secao3 {
        display: flex;
        justify-content: center;
    }

    .Sobre-div {
        color: #000;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/veigh1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #000;
        width: 888px;
        max-width: 1200px;
        height: 440px;
        margin: 0px;

        border-radius: 10px;
        padding-left: 50px;
        justify-content: center;
        font-size: 50px;
    }

    .Content-section a {
        text-decoration: none;
    }

    .Content-section a:link {
        color: #fff;
    }

    .Content-section a:visited {
        color: #fff;
    }

    .Content-section a:hover {
        h1 {
            color: #67117B;
            transition: 0.4s;
        }
    }
}