.ArtistasVerif {
    background-color: #000;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
    }

    h2 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .secao1-content>div {
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }

    .secao1-content>div>a>img {
        width: 45px;
    }

    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .secao1 {
        width: 100%;
        display: flex;
        text-align: center;
        font-size: 35px;
        margin-bottom: 40px;
        justify-content: space-around;
    }
    .secao1-content{
        width: 30%;
        align-items: center;
        height: 50px;
    }

    .content-lista-artistas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    a {
        text-decoration: none;
    }

    .titulo>input {
        margin-top: 10px;
        border-radius: 10px;
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .titulo {
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    button{
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }
    .secao1>a>button:hover{
        font-size: 20px;
        padding: 15px;
        border-radius: 10px;
        transition: 0.5s;
        cursor: pointer;
    }
}