.Header {
    width: 100%;
    
    .App-logo {
        width: 120px;
    }

    header {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    ul {
        align-items: center;
        display: flex;
        gap: 20px;
    }

    .retangulo {
        display: flex;
        align-self: center;
        width: 162px;
        height: 48px;

        background: #67117B;
        border-radius: 20px;
        color: #fff;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FFFFFF;
        list-style: none;
        text-align: center;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .div-paragrafo {
        display: flex;
        flex-direction: row;
        width: 70%;
        line-height: 35px;
    }

    a:link {
        color: #fff;
    }

    a:visited {
        color: #fff;
    }

    a:hover {
        color: #67117B;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .retangulo:hover {
        background: #fff;
        color: #67117B;
        cursor: pointer;
    }
}