.Sobre {
    background-color: #000;
    color: #fff;
    width: 100%;
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    .Content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .content-paragrafo {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 70%;
        line-height: 35px;
    }

    .div-paragrafo {
        display: flex;
        flex-direction: row;
        width: 70%;
        line-height: 35px;
    }

    .Imagem-Sobre {
        width: 30%;
        border-radius: 10px;
    }

    @media (max-width: 1000px) {
        h1 {
            font-size: 35px;
        }

        .content-paragrafo,
        .div-paragrafo {
            width: 80%;
            line-height: 30px;
        }

        .Imagem-Sobre {
            width: 25%;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 30px;
        }

        .content-paragrafo,
        .div-paragrafo {
            width: 90%;
            line-height: 28px;
        }

        .Imagem-Sobre {
            display: none;
        }
    }

    @media (max-width: 480px) {
        font-size: 18px;

        h1 {
            font-size: 25px;
        }

        .content-paragrafo,
        .div-paragrafo {
            width: 100%;
            line-height: 25px;
        }

        .Imagem-Sobre {
            display: none;
        }
    }
}
