.Sobre {
    background-color: #000;
    color: #fff;
    width: 100%;
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    .Content{
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }
    .App-logo{
        width: 120px;
    }
    header{
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    ul{
        align-items: center;
        display: flex;
        gap: 20px;
    }
    .retangulo {
        display: flex;
        align-self: center;
        width: 162px;
        height: 48px;
    
        background: #67117B;
        border-radius: 20px;
        color: #fff;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FFFFFF;
        list-style: none;
        text-align: center;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .div-paragrafo {
        display: flex;
        flex-direction: row;
        width: 70%;
        line-height: 35px;
    }
    a:link {
        color: #fff;
     }
     
    a:visited {
         color: #fff;
    }
     
    a:hover {
         color: #67117B;
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .retangulo:hover {
        background: #fff;
        color: #67117B;
        cursor: pointer;
    }
    .Imagem-Sobre{
        width: 50%;
    }
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
    }
    .container-nav-foot{
        display: flex;
        flex-direction: column;
        flex-grow: 100px;
        gap: 10px;
        align-items: flex-start;
    }
    .links-foot{
        display: flex;
        gap: 40px;
        line-height: 30px;
        align-items: flex-start;
    }
    .container-redes-foot{
        display: flex;
        text-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .container-redes-foot>div{
        display: flex;
        align-content: center;
        gap: 5px;
    }
    .container-logo-foot{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .logo-foot{
        width: 300px;
    }
    .logo-redes{
        width: 30px;
    }
    footer p:hover{
        color: #67117B;
        cursor: pointer;
    }
}