.ArtistaDetalhado {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h1 {
        font-size: 40px;
    }

    .secao1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .secao1>img {
        height: 100%;
        border-radius: 20px;
        max-height: 400px;
    }

    .secao2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .secao2>div {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 40px;
    }

    .content-secao2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .redes-artista {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .redes-artista>a>img {
        width: 30px;
    }

    .redes-artista>a>img:hover {
        cursor: pointer;
    }

    .paragrafo-biografia {
        display: flex;
        justify-content: center;
        background-color: #fcf7f7;
        align-items: center;
        border-radius: 20px;
    }

    .paragrafo-biografia>p {
        line-height: 20px;
        width: 80%;
        text-align: center;
        color: #000;
    }

    .imagem-perfil {
        width: 80%;
        max-height: 500px;
    }

    .secao3 {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .secao3 {
        h1 {
            margin-bottom: 20px;
        }

        div {
            display: flex;
            overflow-x: auto;
            gap: 10px;
        }

        .imagem-album {
            flex: 0 0 auto;
        }

        .img-album-artista {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .secao3>div {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
    }

    .img-album-artista {
        width: 100%;
    }

    .secao4 {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    .secao4>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    @media screen and (max-width: 768px) {
        .imagem-perfil {
            display: none;
        }
        .secao2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .secao1>img{
            width: 80%;
        }
        .content-secao2>h2{
            font-size: 15px;
        }
        .show>div{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

}