.Shows {
    background-color: #000;
    color: #fff;
    width: 100%;
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    .Content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .show-data {
        width: 56px;
        height: 58px;
        background: #1E1D1D;
    }

    .linha-show {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .linha-show>div {
        display: flex;
        width: 200px;
        justify-content: center;
        text-wrap: nowrap;
    }

    .shows-title {
        display: flex;
    }

    .shows-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    h1 {
        font-size: 55px;
    }

    .shows-principais {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        width: 100%;
    }

    .img-artista {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}