.Lancamentos {
    background-color: #000;
    color: #fff;
    width: 100%;
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    min-height: 100vh;

    .Content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    .lancamentos-title {
        display: flex;
    }

    .lancamentos-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .lancamentos-principais {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        width: 100%;
    }

    @media (max-width: 1000px) {
        h1 {
            font-size: 35px;
        }

        .Content {
            gap: 50px;
        }

        .lancamentos-content {
            gap: 20px;
        }

        .lancamentos-principais {
            gap: 80px;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 30px;
        }

        .Content {
            gap: 40px;
        }

        .lancamentos-content {
            gap: 15px;
        }

        .lancamentos-principais {
            gap: 60px;
        }
    }

    @media (max-width: 480px) {
        font-size: 18px;

        h1 {
            font-size: 25px;
        }

        .Content {
            gap: 30px;
        }

        .lancamentos-content {
            gap: 10px;
        }

        .lancamentos-principais {
            gap: 40px;
        }
    }
}
