.AlbumVerif {
    background-color: #000;
    color: #fff;
    width: 100%;
    min-height: 100vh;

    h1 {
        font-size: 40px;
    }

    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .secao1 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 30px;
    }

    .secao1 > div {
        width: 30%;
    }

    .secao1 > div > a > button {
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }

    .secao1 > div > a > button:hover {
        font-size: 20px;
        padding: 15px;
        border-radius: 10px;
        transition: 0.5s;
        cursor: pointer;
    }

    .content-lista-albuns > div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 30px;
        width: 100%;
        flex-wrap: wrap;
    }

    .content-lista-albuns {
        display: flex;
        align-items: center;
        width: 80%;
        background-color: #67117B;
        border-radius: 20px;
        padding: 30px;
    }

    a {
        text-decoration: none;
    }

    .titulo > select {
        margin-top: 10px;
        border-radius: 10px;
        width: 100%;
    }

    .titulo > h2 {
        text-align: center;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filtros {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    .voltar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .voltar > div {
        width: 60%;
        display: flex;
        justify-content: flex-start;
    }

    .voltar > div > a > img {
        width: 45px;
    }

    input {
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px) {
    .secao1{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .secao1 > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filtros {
        margin-top: 60px;
        flex-direction: column;
        gap: 20px;
    }

    .content-lista-albuns {
        width: 100%;
    }

    .voltar > div {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .secao1 {
        font-size: 25px;
    }

    .filtros {
        gap: 10px;
    }

    input {
        font-size: 20px;
        padding: 8px;
    }
}
